main {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 1rem;
    background: #231E3F;
}

* {
    transition: all 1s ease-in-out;
}


.window {
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    // margin-top: 5%;

    .header {
        display: flex;
        width: 90%;
        margin: 0 5% 0 5%;
        padding-top: 25px;
        height: 50px;
        border-radius: 30px;
        background-color: #231E3F;
        color: #FFF;
        justify-content: space-between;

        .user-icon {
            height: 50px;
            width: 50px;
            aspect-ratio: 1 / 1; /* Maintains square shape */
            background: #8070E9;
            border-radius: 50%;
        }

        .user-name {
            align-items: center;
            display: flex;

        }

        .button {
            height: 50px;
            width: 50px;
            aspect-ratio: 1 / 1; /* Maintains square shape */
            background: #8070E9;
            border-radius: 50%;
        }
    }
    
    .title {
        width: 90%;
        margin: 0 5% 0 5%;
        height: 10%;
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .questions {
        width: 90%;
        padding: 0 5% 0 5%;
        height: calc(90% - 75px);
        display: flex;
        flex-direction: column;
        background-color: #231E3F;
        overflow-y: scroll;
        position: relative;

        .question {
            width: 90%;
            padding: 5%;
            background-color: #A8A4C8;
            border-radius: 30px;
            margin-top: 10px;
            text-align: center;
            position: relative;
            .indicator {
                position: absolute;
                top: 0px;
                right: 0px;
                background-color: #FF0000;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }

    }


}
.buttons {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    .buttons-container {
        margin: auto;
        display: flex;
        width: 50%;
        height: 50px;
        margin: auto;
        justify-content: space-between;
        vertical-align: middle;

        .button {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            border-radius: 50%;
            background-color: #8070E9;
            justify-content: center;
        }
    }
}


@media (min-width: 800px) {
    .window {
        .questions {
            width: 60%;
            padding: 0 20% 0 20%;
        }
    }
}

@media (min-width: 1200px) {
    .window {
        .questions {
            width: 30%;
            padding: 0 35% 0 35%;
        }
    }
}