<main>
    <div class="window">
        <div class="header">
            <div class="user-icon">
                <div class="icon">

                </div>
            </div>
            <div class="user-name">
                Hej, różowa_herbatka!
            </div>
            <div class="button">
    
            </div>
        </div>
        <div class="title">
            Twoje Pytania
        </div>
        <div class="questions">
            <div class="question" *ngFor="let _ of [].constructor(8); let i = index">
                <div class="content">
                    Czy opłaca się jeszcze inwestować w kryptowaluty?
                </div>
            </div>
            <div class="filler"><div class="filler"></div></div>
        </div>
        
    </div>
</main>
<div class="buttons">
    <div class="buttons-container">
        <div class="button">
            <
        </div>
        <div class="button">
            +
        </div>
        <div class="button">
            ?
        </div>
    </div>
</div>